<p style="color: green"><%= notice %></p>

<h1>Home Page</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
    <%= link_to "Show book details", book %> | 
    <%= link_to "Update this book", edit_book_path(book) %> | 
    <%= link_to "Delete this book", delete_book_path(book) %>
    </p>
  <% end %>
</div>

<%= link_to "Create a book", new_book_path %>
